<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinhui.mapper.abs.PeWhiteListMapper" >
  <resultMap id="BaseResultMap" type="com.jinhui.model.abs.PeWhiteList" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="receivable_debtor" property="receivableDebtor" jdbcType="VARCHAR" />
    <result column="original_holder" property="originalHolder" jdbcType="VARCHAR" />
    <result column="receivable_period" property="receivablePeriod" jdbcType="INTEGER" />
    <result column="business_contract" property="businessContract" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
    -->
    id, receivable_debtor, original_holder, receivable_period, business_contract, status, 
    creator, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    select 
    <include refid="Base_Column_List" />
    from pe_white_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
    -->
    delete from pe_white_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jinhui.model.abs.PeWhiteList" >
    <!--
      WARNING - @mbggenerated
    -->
    insert into pe_white_list (id, receivable_debtor, original_holder, 
      receivable_period, business_contract, status, 
      creator, create_time)
    values (#{id,jdbcType=INTEGER}, #{receivableDebtor,jdbcType=VARCHAR}, #{originalHolder,jdbcType=VARCHAR}, 
      #{receivablePeriod,jdbcType=INTEGER}, #{businessContract,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jinhui.model.abs.PeWhiteList" >
    <!--
      WARNING - @mbggenerated
    -->
    insert into pe_white_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="receivableDebtor != null" >
        receivable_debtor,
      </if>
      <if test="originalHolder != null" >
        original_holder,
      </if>
      <if test="receivablePeriod != null" >
        receivable_period,
      </if>
      <if test="businessContract != null" >
        business_contract,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="receivableDebtor != null" >
        #{receivableDebtor,jdbcType=VARCHAR},
      </if>
      <if test="originalHolder != null" >
        #{originalHolder,jdbcType=VARCHAR},
      </if>
      <if test="receivablePeriod != null" >
        #{receivablePeriod,jdbcType=INTEGER},
      </if>
      <if test="businessContract != null" >
        #{businessContract,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinhui.model.abs.PeWhiteList" >
    <!--
      WARNING - @mbggenerated
    -->
    update pe_white_list
    <set >
      <if test="receivableDebtor != null" >
        receivable_debtor = #{receivableDebtor,jdbcType=VARCHAR},
      </if>
      <if test="originalHolder != null" >
        original_holder = #{originalHolder,jdbcType=VARCHAR},
      </if>
      <if test="receivablePeriod != null" >
        receivable_period = #{receivablePeriod,jdbcType=INTEGER},
      </if>
      <if test="businessContract != null" >
        business_contract = #{businessContract,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinhui.model.abs.PeWhiteList" >
    <!--
      WARNING - @mbggenerated
    -->
    update pe_white_list
    set receivable_debtor = #{receivableDebtor,jdbcType=VARCHAR},
      original_holder = #{originalHolder,jdbcType=VARCHAR},
      receivable_period = #{receivablePeriod,jdbcType=INTEGER},
      business_contract = #{businessContract,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByOriginalHolder" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from pe_white_list
    where original_holder = #{originalHolder,jdbcType=VARCHAR}
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select
    <include refid="Base_Column_List" />
    from pe_white_list
    where original_holder = #{originalHolder,jdbcType=VARCHAR}
    <if test="debtor != null" >
      and receivable_debtor LIKE concat(concat('%',#{debtor}),'%')
    </if>
  </select>


  <select id="selectByQueryParam" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select
    <include refid="Base_Column_List" />
    from pe_white_list
    where original_holder = #{originalHolder,jdbcType=VARCHAR}
    <if test="debtor != null" >
      and receivable_debtor =  #{debtor,jdbcType=VARCHAR}
    </if>
    <if test="periodStart != null" >
      and receivable_period  &gt;=  #{periodStart,jdbcType=VARCHAR}
    </if>
    <if test="periodStop != null" >
      and receivable_period &lt;=  #{periodStop,jdbcType=VARCHAR}
    </if>
    order by create_time,id desc
  </select>


  <update id="updateByDebtor" parameterType="com.jinhui.model.abs.PeWhiteList" >

    update pe_white_list
    set receivable_period = #{receivablePeriod,jdbcType=INTEGER},
    business_contract = #{businessContract,jdbcType=VARCHAR}
    where original_holder=#{originalHolder,jdbcType=VARCHAR}
    and receivable_debtor =#{receivableDebtor,jdbcType=VARCHAR}
  </update>


</mapper>